<?xml version="1.0" encoding="utf-8"?>
<widget>
    <access origin="http://127.0.0.1*"/> <!-- allow local pages -->
    <access origin="*"/>

    <access origin="https://www.googleapis.com/drive/*" />
    <access origin="https://www.googleapis.com/upload/drive/*" />
    <access origin="https://*.googleusercontent.com/*" />

    <content src="plugins/org.chromium.bootstrap/chromeapp.html" />

    <log level="DEBUG"/>
    <preference name="useBrowserHistory" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />

</widget>

